.img-bg{
	position: fixed;
	top: 0;
	left: 0;
	background: url('../images/background.jpg') no-repeat left top;
	background-size: cover;
	width: 100%;
	min-height: 969px;
	z-index: -1;
}
.main-page{
	padding-top: 60px;
}
.left{
	width: 165px;
}
.right{
	width: 195px;
}
.mid{
	width: calc(100% - 360px) !important;
	flex: 0 0 calc(100% - 360px);
    max-width: calc(100% - 360px);
}
.ribbon{
	margin-bottom: 20px;
}
.video{
	box-shadow: 0px 0px 10px rgba(255,255,255,.6);
	height: 320px;
}
.mobile-ribbon{
	display: none;
}
@media screen and (max-width: $break-lg){
	.mobile-ribbon{
		display: block;
		ul{
			li{
				width: 47%;
				margin-right: 0px !important;
			}
			li{
				&:first-child,&:last-child{
					width: 25%;
				}
			}
		}
	}
	.mid{
		width: 100% !important;
		flex: 0 0 100%;
	    max-width: 100%;
	}
}
@media screen and (max-width: $break-md){
	body{
		background: url('../images/mobile-bg.jpg') no-repeat left top fixed;
		background-size: 100% 100%;
	}
	.video{
		height: 360px;
	}
}
@media screen and (max-width: $break-ssm){
	.video{
		height: 250px;
	}
}
@media screen and (max-width: $break-400){
	.video{
		height: 260px;
	}
	.main-page{
		padding-top: 30px;
	}
	.list-btn-wrap{
		margin-top: 10px !important;
	}
}